a {
  color: #212529 !important;
  margin: 0 5px;
}

.project-container {
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .08);
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 50px;
  margin-left: 40px;
  min-height: 135px;
  width: 30vw;
}

.project-details-container {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5px;
}

.project-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.project-image-container {
  height: 65%;
}

.project-marker {
  background-color: #ffffff;
  border: 1px solid #212529;
  border-radius: 50%;
  box-sizing: border-box;
  height: 20px;
  left: 175px;
  margin-left: -10px;
  margin-top: 15px;
  position: absolute;
  width: 20px;
}

.project-title-container {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: space-between;
  text-align: left;
}

.project-description-container {
  margin-bottom: 15px;
  text-align: left;
}

.project-technology-container {
  text-align: left;
}

.project-icon-size {
  font-size: 16px;
}

.project-technology-item {
  margin: 0 5px;
}

@media only screen and (max-width: 1060px) {
  .project-marker {
    left: 50px;
    right: initial;
  }
}

@media only screen and (max-width: 768px) {
  .project-container {
    width: 100vw;
  }
}
