.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  justify-content: center;
  margin-top: 56px;
}

.home-icon-size {
  font-size: 2em;
  margin: 5px;
}

.home-icon-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 50%;
}

.home-angular-color {
  color: #b52e31;
}

.home-react-color {
  color: #00d8ff;
}

.home-js-color {
  color: #f7df1e
}

.home-html-color {
  color: #e34f26;
}

.home-css-color {
  color: #1272b7;
}

.home-python-color {
  color: #4584b6
}

.home-linux-color {
  color: #333;
}

.home-github-color {
  color: #333;
}